#bars {
    height: 30px;
    left: 0px;
    margin: -30px 0 0 -20px;
    position: absolute;
    top: 21vh;
    width: 50%;
}

.bar {
   background: rgb(155, 27, 27);
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 4vw;      
    animation: sound 0ms 1ms linear infinite alternate;
}

@media screen and (min-width: 1025px){
    #bars {
        top: 95vh;
        left: -3.5vw;
    }
    .bar{
        background: rgb(90,56,56);
    }
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 0vh; 
    }
    100% {
        opacity: .85;       
        height: 1vh;        
    }
}

.bar:nth-child(1)  { left: 5vw; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 10vw; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 15vw; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 20vw; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 25vw; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 30vw; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 35vw; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 40vw; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 45vw; animation-duration: 487ms; }
.bar:nth-child(10) { left: 50vw; animation-duration: 442ms; }
.bar:nth-child(11) { left: 55vw; animation-duration: 407ms; }
.bar:nth-child(12) { left: 60vw; animation-duration: 427ms; }
.bar:nth-child(13) { left: 65vw; animation-duration: 433ms; }
.bar:nth-child(14) { left: 70vw; animation-duration: 407ms; }
.bar:nth-child(15) { left: 75vw; animation-duration: 474ms; }
.bar:nth-child(16) { left: 80vw; animation-duration: 419ms; }
.bar:nth-child(17) { left: 85vw; animation-duration: 407ms; }
.bar:nth-child(18) { left: 90vw; animation-duration: 458ms; }
.bar:nth-child(19) { left: 95vw; animation-duration: 427ms; }
.bar:nth-child(20) { left: 100vw; animation-duration: 407ms; }